
<h1>About Us</h1>

<span>
Divinity Salon has been located in the heart of downtown Encinitas for the last 15 years.
Here at Divinity you will feel a sense of freedom and escape from your daily life.
</span><br/><br/>
<span>Divinity salon takes pride in offering truely sustainable products such as Davines and Kevin Murphy.
All of our staff are highly trained professionals and some of the best in the industry, specializing in the
latest hair cutting techniques and styles, seamless and natural hair coloring, keritan treatments, and extensions.
</span><br/><br/>
<span>Divinity salon appeals to both male and female clientele with its wide array of stylists and natural industrial environment. At our boutique you will find all of the latest fashions at a reasonable price and also great gift items that are one of a kind.
<br/><br/>
Our inventory is constantly changing with new shipments each week. We offer various promotions, please check out our Facebook and Instagram for our latest offers.
</span>
</div>
