
<div style="background-color: lightgray; padding: 10%;">

<div class="getButtons">

  <center>
     <div class="buttonsCont">

    <button class="btn btn-custom btn-lg" style="width: 12% padding: 0px; font-size: 1em;" name="submit" type="submit">
     Angie
    </button>

    <button class="btn btn-custom btn-lg" style="width: 12% padding: 0px; font-size: 1em;" name="submit" type="submit">
     Ariana
    </button>

    <button class="btn btn-custom btn-lg" style="width: 12% padding: 0px; font-size: 1em;" name="submit" type="submit">
     Danielle
    </button>

    <button class="btn btn-custom btn-lg" style="width: 12% padding: 0px; font-size: 1em;" name="submit" type="submit">
     Elizabeth
    </button>

    <button class="btn btn-custom btn-lg" style="width: 12% padding: 0px; font-size: 1em;" name="submit" type="submit">
     Garidey
    </button>

    <button class="btn btn-custom btn-lg" style="width: 12% padding: 0px; font-size: 1em;" name="submit" type="submit">
     Geraldine
    </button>

    <button class="btn btn-custom btn-lg" style="width: 12% padding: 0px; font-size: 1em;" name="submit" type="submit">
     Jacques
    </button>

   </div>
</center>

</div>
<br/>

<div id='calendar'></div>


</div>
