<div class="tmplCont">

<div class="contactCont">


  <div class="days">
    SUNDAY<br/>
    MONDAY <br/>
    TUESDAY<br/>
    WEDNESDAY<br/>
    THURSDAY<br/>
    FRIDAY<br/>
    SATURDAY<br/>

  </div>

  <div class="hours">
    10:00 am to 6:00 pm<br/>
    10:00 am to 6:00 pm<br/>
    &nbsp;&nbsp;9:00 am to 7:00 pm<br/>
    &nbsp;&nbsp;9:00 am to 7:00 pm<br/>
    &nbsp;&nbsp;9:00 am to 8:00 pm<br/>
    &nbsp;&nbsp;9:00 am to 7:00 pm<br/>
    &nbsp;&nbsp;9:00 am to 7:00 pm<br/>
  </div>

<div class="contactTxt">
<strong>Contact</strong><br/><br/>
Divinity Salon & Boutique a full service hair salon specializing in hair, skincare, nails and fashion.<br/>
<br/>
<strong>583 S.Coast Hwy 101 Encinitas, CA 92024<br/>
760.436.2932 | info@divinitysalon.com </strong>
<br/>
<br/>
Contact us at <strong>760.436.2932</strong> to schedule hair and skincare appointments. Call Lanie at <strong>760.889.5666</strong> to schedule nail appointments.
</div>

</p>






</div>
</div>
