<div class="tmplCont">
  <!-- <video autoplay loop id="video-background" muted>
  <source src="/imgs/palmtree.mp4" type="video/mp4">
  </video> -->

  <img id="video-background" src="/imgs/rsz_hatrocks.png">
</img>

<div class="servicesCont">

  <h1>Services</h1>
  <span>View our full line of hair, skin care and nail services. Cut & Color, Brazilian Blowouts, Hair Extensions, Facials, Waxing, Minx nails and more.</span>

  <h1>Spa Etiquette</h1>
  <span>
    For leisurely enjoyment of your full treatment please arrive 15-minutes prior to your appointment. Please note that your scheduled time is your table time. Due to adjacent appointments late arrivals will only be given the remainder of the time originally scheduled for the service.

    *Services and prices are subject to change without notice.</span>



  </div>

<div class="services">

  <h1>Hair Care</h1>

<div class="serviceScroll hc">

<h2>Cut & Style</h2>
<span>
Men's Haircut $45+ </br>
Women's Haircut $65+ <br/>
Children's Haircut $35+ (under 12)</br>
</span>

<h2>Styling</h2>
<span>
Blowout $35+<br/>
Blowout & Iron $55+<br/>
Special event styling services available by consultation<br/>
</span>

<h2>Extensions</h2>
<span>
Extension services available by consultation.<br/>
</span>

<h2>Color</h2>
<span>
Base touch-up $75+<br/>
All over $100+<br/>
Partial Highlights $110+<br/>
Full Highlights $160+<br/>
Balayage $150+<br/>
Gloss/Toner $40+<br/>
Special effects color by consultation<br/>
</span>

<h2>Re-Texturizing Treatments</h2>
<span>
Hair Straightening by consultation<br/>
Permanent Wave $150+<br/>
Keratin Blowout $200+<br/>
Deep Conditioning Treatment $30+<br/>
Olaplex Treatment $50+<br/>
</span>

*All prices are starting prices. For an exact quote, we offer complimentary consultations. Service pricing may vary by stylist.


</div>

<br/>

<h1>Skin Care</h1>


<div class="serviceScroll sc">

<!-- <h2>Skin</h2><br/> -->

<span>

**Skin Care Products – PevoniaBotanica – PCA – Medi – Calia**

<br/>

<h2>Facial Treatments</h2><br/>
All Pevonia facials over $100 include PerectSense Infusion paraffin hand or foot treatments.<br/>

<h2>Essential Deep Cleansing Facial: 60-min $85</h2><br/>
Recommended for all skin types. A truly relaxing and balancing facial designed to maintain a healthy complexion. Extractions included.<br/>

<h2>Age-Defying Men’s Facial: 60-min $85</h2><br/>
A proven effective anti-aging treatment specifically developed just for men’s skin. The deep cleansing facial utilizing freeze-dried ESCUTOX for the evident relaxation of wrinkles and evident relaxation of wrinkles and visible increase of skin’s plumpness. A cooling seaweed caviar mask rich in repairing actives smoothes wrinkles and offers skin tightening benefits. Contains Caviar Extract, Marine Collagen, Elastin and Vitamin C.<br/>

<h2>Microdermabrasian Facial: 50-min $85</h2><br/>
Removes the top layer of skin while simultaneously regenerating the deeper layers. This increases the circulation and smoothes uneven skin. Includes extractions and mask.<br/>

<h2>Essential Back Treatment: 60-min $85</h2><br/>
An effective treatment to cleanse and clear hard to reach areas on the back by loosening impaction and refining pores. A thorough cleansing back scrub for superior exfoliation and extractions if needed are then performed. A mask assists to draw out impurities followed by a light and relaxing back and shoulder massage to stimulate circulation. A smoothing moisturizer leaved you with a refreshed feeling.<br/>

<h2>Anti–Free Radical Facial: 75-min $115</h2><br/>
Designed to combat free radicals and promote repair for all skin types. A concentrate of vitamins and botanicals are massaged into the skin. This hard lift mask gradually changes temperature from warm to cool, ensuring deep penetration and repair. A wonderfully stimulating treatment.<br/>

<h2>Clarifying Facial: 75-min $110</h2><br/>
A customized facial treatment for those with specific skin challenges. We will match your skin’s needs with the appropriate products with ingredients assisting to balance and control your skin due to the different stages of inflammation or breakout. Specific attention is given to the extraction procedure.<br/>

<h2>Green Tea & Rose Facial: 75-min $100</h2><br/>
Recommended for Couperose, sensitive and rosacea skin. Abundant with the most beneficial calming, anti-inflammatory, and antioxidant actives including Green Tea, Rose and Seaweed. Immediate results achieved.<br/>

<h2>Moxy-Caviar Facial: 75-min $125</h2><br/>
Our most advanced defense against aging skin, this opulent anti-aging treatment lavishes your skin with pure caviar and pearl extracts and a revolutionary blend of phyto-extracts called ESCUTOX. It increases skin oxygenation and suppleness, drenching the skin with nourishing and deeply repairing benefits. Promoting rejuvenation, it visibly resurfaces and dramatically reduces facial expression lines and wrinkles offering timeless rejuvenation.<br/>

<h2>Vitamin C & Sea Mask: 75 min $115</h2><br/>
C-ing is believing. A radical treatment for dry and dehydrated skin that combines the high potency concentration of Vitamin C with the purest seaweed to visibly improve the skin. This treatment is excellent for sun-damaged skin.<br/>

<h2>O2 Intraceutical Oxygen Facial: 60-min $150</h2><br/>
An infusion of oxygen (under hyperbaric pressure) and antioxidant serums leaves your skin radiant and hydrated. This extraordinary treatment smoothes fine lines, plumps lips, and has a firming and tightening effect on your entire complexion. So repair and build your skin’s integrity using therapeutic grade hyperbaric oxygen, much needed anti-oxidants and moisture.<br/>

<h2>Skin: A La Carte</h2><br/>

Perfect Sense Infusion Paraffin Hand & Foot Treatments<br/>
Relax and revel in warm physiotherapeutic paraffin infused with eleven vitamins including A, C, E, D, B-5, B-12. Add a paraffin hand and foot treatment to any service.<br/>

Hands or Feet $25<br/>

Hands & Feet $45<br/>

Hands or Feet added to service $15<br/>

Hands & Feet added to service $25<br/>

De-Stress Eye Treatment: $25<br/>
Pure freeze dried collagen concentrate lessens the appearance of wrinkles and fine lines while a mask of GinkoBiloba reduces puffiness and relieves tires eyes.<br/>

Youthful Lip Smoothing Treatment: $25<br/>
Refines lip contour and smoothes wrinkles and furrows. Active ingredients of collagen and retinol bring forth astonishingly visible results.<br/>
</div>
<br/>

<!-- <div class="services"> -->

  <h1>Nail Services</h1>

<div class="serviceScroll hc">
<h2>CND Shellac</h2>
<span>
  Hands: $40
</br>
  Feet: $50
</span>
<br/>

<h2>CND Brisa</h2>
<span>
  Natural: $35
</br>
  Pink & White: $45
</span>
<br/>

<h2>CND Liquid & Powder</h2>
<span>
  Natural: $35
</br>
  Pink & White: $50
</span>
<br/>

<h2>MINX</h2>
<span>
  Toes: $40
</span>


</div>

<br/>


<h1>Waxing & Tinting</h1>

<div class="serviceScroll hc">


</div>



</div>
</div>
</div>
