  <div class="container" style="padding-top: 20px;">
  <div class="row">
    <!-- <div class="col-md-6"> -->
      <!-- Nav tabs -->
      <div class="card" style="width:50%; float: left;">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#plums" aria-controls="plums" role="tab" data-toggle="tab">Hair Care</a></li>
          <li role="presentation"><a href="#cats" aria-controls="cats" role="tab" data-toggle="tab">Skin Care</a></li>
          <li role="presentation"><a href="#rats" aria-controls="rats" role="tab" data-toggle="tab">Waxing</a></li>
          <li role="presentation"><a href="#seagulls" aria-controls="seagulls" role="tab" data-toggle="tab">Nails</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="plums">

            <h2>Cut & Style</h2>
            Men's Haircut $45+
            <br/> Women's Haircut $65+
            <br/> Children's Haircut $35+ (under 12)
            <br/>

            <h2>Styling</h2>
            Blowout $35+
            <br/> Blowout & Iron $55+
            <br/> Special event styling services available by consultation
            <br/>

            <h2>Extensions</h2>
            Extension services available by consultation.
            <br/>


            <h2>Color</h2>
            Base touch-up $75+
            <br/> All over $100+
            <br/> Partial Highlights $110+
            <br/> Full Highlights $160+
            <br/> Balayage $150+
            <br/> Gloss/Toner $40+
            <br/> Special effects color by consultation
            <br/>

            <h2>Re-Texturizing Treatments</h2>
            Hair Straightening by consultation
            <br/> Permanent Wave $150+
            <br/> Keratin Blowout $200+
            <br/> Deep Conditioning Treatment $30+
            <br/> Olaplex Treatment $50+
            <br/>



          </div>
          <div role="tabpanel" class="tab-pane" id="cats">
            <h2>Facial Treatments</h2>
            All Pevonia facials over $100 include PerectSense Infusion paraffin hand or foot treatments.
            <br/> Essential Deep Cleansing Facial: 60-min $85
            <br/> Age-Defying Men’s Facial: 60-min $85
            <br/> Microdermabrasian Facial: 50-min $85
            <br/> Essential Back Treatment: 60-min $85
            <br/> Anti–Free Radical Facial: 75-min $115
            <br/> Clarifying Facial: 75-min $110
            <br/> Green Tea & Rose Facial: 75-min $100
            <br/> Moxy-Caviar Facial: 75-min $125
            <br/> Vitamin C & Sea Mask: 75 min $115
            <br/> O2 Intraceutical Oxygen Facial: 60-min $150
            <br/>
            <h2>Skin: A La Carte</h2>
            Hands or Feet $25
            <br/> Hands & Feet $45
            <br/> Hands or Feet added to service $15
            <br/> Hands & Feet added to service $25
            <br/> De-Stress Eye Treatment: $25
            <br/> Youthful Lip Smoothing Treatment: $25
            <br/>
          </div>

          <div role="tabpanel" class="tab-pane" id="rats">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
          <div role="tabpanel" class="tab-pane" id="seagulls">
            <h2>CND Shellac</h2> Hands: $40
            </br>
            Feet: $50

            <br/>

            <h2>CND Brisa</h2> Natural: $35
            </br>
            Pink & White: $45
            <br/>

            <h2>CND Liquid & Powder</h2> Natural: $35
            </br>
            Pink & White: $50
            <br/>

            <h2>MINX</h2> Toes: $40
          </div>
        </div>
      </div>

      <img src="http://divinitysalon.com/data0/images/dsc_8553.jpg" style="width: 550px; float: right; padding-top: 40px;">
    </div>
  <!-- </div> -->
</div>
