<nav class="navbar navbar-default navbar-static">
<div class="collapse navbar-collapse js-navbar-collapse">
        <div class="container">
            <div class="row">
                <div class="btn-group btn-group-justified">
                    <!--Home-->
                    <div class="btn-group">
                        <button type="button" class="btn btn-nav" ui-sref="home">
                            <span class="glyphicon glyphicon-home"></span>
                            <p id="home">Home</p>
                        </button></div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-nav" ui-sref="services">
                            <span class="glyphicon"></span>
                            <p >Services</p>
                        </button></div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-nav" ui-sref="products">
                            <span class="glyphicon"></span>
                            <p >Prodcuts</p>
                        </button></div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-nav" ui-sref="team">
                            <span class="glyphicon"></span>
                            <p >Team</p>
                        </button></div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-nav" ui-sref="contact">
                            <span class="glyphicon"></span>
                            <p >Contact</p>
                        </button></div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-nav" ui-sref="login">
                            <span class="glyphicon"></span>
                            <p >Login</p>
                        </button></div>
                    </div>

</nav>
<!--
  <div class="form-group" style="z-index: 100;">
   <div>
    <button id="showLeftPush" class="btn btn-custom btn-lg" name="submit" type="submit" style="border-radius: 0; background-color: #fff7cd; height: 48.375px; -webkit-box-shadow: none;
    box-shadow: none;">
     Menu
    </button>
   </div>
  <nav ng-controller="navCtrl" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <a ui-sref="home">Home</a>
  <a ui-sref="about">About</a>
  <a ui-sref="services">Services</a>
  <a ui-sref="team">Team</a>
  <a ui-sref="products">Boutique</a>
  <a ui-sref="contact">Contact</a>
  <a ui-sref="login" ng-if="!loggedIn">Login</a>
  <!-- <a ng-click="logout()" ng-if="loggedIn"> Logout </a>

</nav>
</div
