/*MAIN VIEW*/


/* color #c0dfd9
 pallette #e9ece5
    for   #b3c2bf
 project #3b3a36
 #2A2C43
 */


/*ABOUT*/

body {
  padding: 0;
  font-size: 1em;
  color: #3b3a36;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  z-index: 1000000;
}
#calendar {
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}
.fc-day-header {
  background-color: #2A2C43;
  color: #f9f9f9;
}
#calendar h2 {
  font-family: 'Pacifico', cursive;
  text-transform: lowercase;
  font-size: 4em;
  padding: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #2A2C43;
}
#calendar .fc-toolbar {
  padding: 5px;
  margin-bottom: 0px;
}
#calendar {
  font-family: 'Montserrat', sans-serif;
}
#calendar td .fc-today {
  background-color: #d5d4d4;
}
#calendar .fc-content {
  color: #2A2C43;
  text-transform: uppercase;
}

/*///////////team//////////*/

.stylists h2 {
  font-family: 'Pacifico', cursive;
  color: #2A2C43;
}

/*STAR RATING CSS*/

.starRating:not(old) {
  display: inline-block;
  width: 7.5em;
  height: 1.5em;
  overflow: hidden;
  vertical-align: bottom;
}
.starRating:not(old) > input {
  margin-right: -100%;
  opacity: 0;
}
.starRating:not(old) > label {
  display: block;
  float: right;
  position: relative;
  background: url('./imgs/star-off.svg');
  background-size: contain;
}
.starRating:not(old) > label:before {
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: url('./imgs/star-on.svg');
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.starRating:not(old) > label:hover:before, .starRating:not(old) > label:hover ~ label:before, .starRating:not(:hover) >:checked ~ label:before {
  opacity: 1;
}











.img-list {
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-align: center;
}

.img-list {
 display: inline-block;
 margin: 0 1em 1em 0;
 position: relative;
}
span.text-content {
 background: rgba(42, 44, 68, 0.85);
 color: white;
 padding: 10px;
 cursor: pointer;
 display: table;
 height: 300px;
 left: 0px;
 position: absolute;
 top: 0;
 width: 310px;
 opacity: 0;
 -webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;
}
span.text-content span {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}

.img-list :hover span.text-content {
 opacity: 1;
}
